body {
    font-family: 'Montserrat', sans-serif;
    src: url('../font_family/Montserrat-Light.ttf');
    font-size: 1em;
}

header h1 {
    font-family: 'DM Serif Text', sans-serif;
    src: url('../font_family/DMSerifText-Regular.ttf');
    font-size: 5em;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    src: url('../font_family/Montserrat-Bold.ttf');
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 1em;
}

input {
    width: 50%;
    padding: 13px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border: 2.5px solid black;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.form-spacer {
    padding: 25px 20px;
}
