	@font-face {
		font-family: OxygenMono;
		src: url('OxygenMono-Regular.ttf');
	}
	body {
		background-color: #282a36;
	}
	h1 {
		color: #6272a4;
		font-family: OxygenMono
	}
	table {
		border: 2px black;
		background-color: #282a36;
		font-family: OxygenMono
	}
	td:hover {
		background-color: #44475a;
		color: #f8f8f2;
	}
	tr, th {
		background-color: #44475a;
		color: #8be9fd
	}
	tr, td {
		background-color: #44475a;
		color: #bd93f9
	}